<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ironSource</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {{{body}}}
        <!--<script type="text/javascript" src="/public/js/vendors.js" charset="utf-8"></script>-->
        <script type="text/javascript" src="/public/bundle.js" charset="utf-8"></script>
    </body>
</html>